h1 {
color: white;
text-align: center;
}
body {
background-color: black;
font-family: arial;
}
p,ol,ul,img,small,b,details,h2,a,hr {
color: white;
}
button {
width: 175px;
}
nav {
background-color: white;
}
nav a {
color: black;
}
